name: dotnet publish

on:
  release: 
    types: [published]

permissions:
  contents: write

env:
  DOTNET_VERSION: "10.x.x"
  DOTNET_TFM: "net10.0"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: ["win", "linux"]
        arch: ["x86", "x64", "arm", "arm64"]
        include:
          - os: "osx"
            arch: "x64"
          - os: "osx"
            arch: "arm64"
        exclude:
          - os: "win"
            arch: "arm"
          - os: "linux"
            arch: "x86"
    steps:
      - uses: actions/checkout@v6
      - name: Setup dotnet
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}
      - id: get_version
        name: Get version
        uses: jannemattila/get-version-from-tag@v4
      - name: Install dependencies
        run: dotnet restore
      - name: dotnet publish
        env:
          DOTNET_CLI_TELEMETRY_OPTOUT: 1
          DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
          DOTNET_NOLOGO: true
        run: dotnet publish  -o ./publish --arch ${{ matrix.arch }} --os ${{ matrix.os }} --configuration Release --self-contained --framework ${{ env.DOTNET_TFM }} -p:VersionPrefix=${{ steps.get_version.outputs.version }} -p:PublishSingleFile=true -p:IncludeNativeLibrariesForSelfExtract=true -p:EnableCompressionInSingleFile=true -p:DebugSymbols=false ./PaperMore/PaperMore.csproj
      - name: Upload Release Binary
        uses: AButler/upload-release-assets@v3.0
        with:
          files: ./publish/*
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          release-id: ${{ github.event.release.id }}

